<h1> Herores </h1>
<hr>

<div class="card-columns">
  <div class="card animate fadeIn fast" *ngFor="let heroeX of heroes; let i = index" >
    <img [src]="heroeX.img" class="card-img-top" [alt]="heroeX.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroeX.nombre}}</h5>
      <p class="card-text">{{heroeX.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroeX.aparicion}}</small></p>

    <a [routerLink]="['/heroe:id']" class="btn btn-outline-primary btn-block">
      Ver más [routerLink]
    </a>

    </div>
  </div>

</div>
